// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Colors
@import 'colors';

// Buttons & Links
@import 'buttons';
@import 'links';

// Infocard
@import 'infocard';


html {
    background-color: var(--background-color);
    font-size: 10px;
}

body {
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 1;
}

html, body {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

.navbar-brand {
    font-size: 2rem;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.cell {
    background-color: #eee;
    padding: 10px;
}

.cell.occupied .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.occupied {
    background-color: #fff;
}


.header-image {
    width: 100%;
    object-fit: cover;
}

