// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Colors
@import 'colors';

// Fonts
@import 'fonts';

// Spacings
@import 'spacings';

// Buttons & Links
@import 'buttons';
@import 'links';

// Infocard
@import 'infocard';

// Animations
@import 'animations';

// Ingame Menu
@import 'ingame_menu.scss';


html {
    background-color: var(--background-color);
    font-size: 10px;
}

body {
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .app-wrapper {
        // display: flex;
        flex-grow: 1;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

.navbar-brand {
    font-size: 2rem;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.cell {
    background-color: #eee;
    padding: 10px;
}

.cell.occupied .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.occupied {
    background-color: #fff;
}


.header-image {
    width: 100%;
    object-fit: cover;
}

.mini-icon {
    &__wrapper {
        position: relative;
        width: 32px;
        display: inline-block;
        padding-top: 32px;
    }

    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: contain;
}

// inventory

.info-card__image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}

// Highscore 

.highscore {
    tbody {
        tr:first-child {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                background-image: url('http://127.0.0.1:8000/assets/images/svg/crown-solid.svg');
                width: 25px;
                height: 25px;
                display: block;
                z-index: 1;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
            }
        }
    }

}

// map 

.current-city {
    animation: pulse 1.7s ease-in-out infinite;
}

.ressource-list {
    list-style-type: none;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(even) {
            border-left: 1px solid #000;
        }
    }
}


// Market 

.market {
    td {
        vertical-align: middle;
    }
}
