:root {
    --background-color: #F9F6F2;

    --text-color: #3B3A39;
    --button-color: #3B3A39;
    --button-color-hover: #7A7977;
    --button-color-border: #3B3A39;

    --colors-darker: #3B3A39;
    --colors-dark: #7A7977;
    --colors-medium: #C0BEBB;
    --colors-light: #F9F6F2;

}

