.info-card {
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 1px solid var(--colors-darker);
    background-color: $body-bg;
    &__image {
    }
    &__content {
        padding: .8rem;

    }
}
